.container {
  width: 502px;
  height: 50px;
  margin-bottom: 25px;
}

.btn:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn {
  width: 50%;
  height: 100%;
  background: white;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.active {
  background-color: #2196f3;
  color: #fff;
}

.btn:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

@media (max-width: 520px) {
  .container {
    width: 100%;
  }
}
