.container {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 25px;
}

@media (max-width: 745px) {
  .container {
    flex-direction: column;
    max-width: 502px;
  }
}