.container {
  display: flex;
  flex-direction: column;
  font-family: Open Sans;
  font-size: 14px;
  height: 268px;
  width: 232px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px 0px #0000001A;
  border-radius: 5px;
}

.description {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.list {
  list-style: none;
  padding: 0px;
  margin-top: 0px;
}

.check {
  display: flex;
  align-items: center;
  padding: 10px;
}

.check:hover{
  background: #F1FCFF;
  cursor: pointer;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.check__box{
  position: absolute;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  border: 1px solid #9ABBCE;
  box-sizing: border-box;
  border-radius: 2px; 
}

.check__text{
  margin-left: 2.5em;
  color: #4A4A4A;
}

.check__input:checked + .check__box {
  border: 1px solid #2196F3;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.28571 8L0 4.16123L1.20857 3.0787L4.28571 5.82726L10.7914 0L12 1.09021L4.28571 8Z' fill='%232196F3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 65%;
}

.check__input:focus + .check__box {
   box-shadow: 0 0 0 1.5px #2196F3;
}